/* Globally accessible variables */
:root {
  --home-color: red;
  --about-color: yellow;
  --it-journal-color: green;
  --projects-color: blue;
  --articles-color: magenta;
}

.nav-item.articles a {
  border-bottom: 3px solid var(--articles-color);
  color: white;
}
