/* Globally accessible variables */
:root {
  --gray-10: #181818;
  --border-slightly-grey: #353535;
  --background-slightly-grey: #212121;
  --date-font: Menlo, 'IBM Plex Mono', Menlo, monospace;
}

.about-me-short {
  max-width: 550px;
}

.about-me img {
  width: 18rem;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* LATEST POSTS SECTION */

button {
  border-radius: 10%;
  border: 1px solid var(--border-slightly-grey);
  background-color: var(--background-slightly-grey);
  color: inherit;
}

button:hover {
  border: 1px solid rgb(86, 86, 86);
  cursor: pointer;
}

.view-all-btn {
  width: 5.5rem;
  height: 3rem;

  font-size: 1rem;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.single-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  text-decoration: none;
  color: inherit;
  border-bottom: 0.01px solid rgb(66, 66, 66);
}

.single-post .right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-side .date {
  min-width: 8rem;
}
/* 
.single-post:hover {
  text-decoration: underline;
} */

.right-side img {
  width: 2.5rem;
  border-radius: 50%;

  justify-content: center;
}

.single-post h3 {
  margin: 0;
  /* padding-bottom: 0.5rem; */
  font-weight: 500;
  font-size: inherit;

  /* max-width: 15rem; */
}

.single-post:hover h3 {
  text-decoration: underline;
}

.date {
  margin: 0;

  font-size: 1rem;
  color: #5eddac;
  font-family: var(--date-font);
  display: none;
  text-align: right;
}

/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* PORTFOLIO SECTION */
.all-projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-size: 1rem;
}

.project {
  display: flex;
  flex-direction: column;
  color: inherit;

  padding: 1rem;

  border: 1px solid var(--border-slightly-grey);
  background-color: var(--background-slightly-grey);
  border-radius: 0.3rem;
}

.project-date {
  font-family: var(--date-font);
  color: #f57ad0;
}

.project-title {
  color: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

.project-title:hover {
  text-decoration: underline;
}

.project-description {
  margin-top: 0;
  /* margin: 0.5rem 0; */

  color: #9e9e9e;

  line-height: 1.5rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.project-button {
  font-size: inherit;
  padding: 0.5rem;
  background-color: #2c2c2c;
}

@media (min-width: 700px) {
  /* ------------------------------------------- */
  /* ------------------------------------------- */
  /* ------------------------------------------- */
  /* ABOUT ME SECTION */
  .container {
    margin-top: 4rem;
  }

  .about-me {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    width: 100%;

    align-items: center;
  }

  .about-me-short h1 {
    font-size: 3rem;
  }

  .about-me img {
    width: 40%;
    height: 100%;
  }

  /* ------------------------------------ */
  /* ------------------------------------ */
  /* ------------------------------------ */
  /* LATEST POSTS SECTION */
  .date {
    display: block;
    min-width: 5rem;
  }

  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /* PORTFOLIO SECTION */

  .all-projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .all-projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
