.about-me-short {
  max-width: 550px;
}

.about-me img {
  width: 18rem;
}

/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* LATEST POSTS SECTION */

.view-all-btn {
  border-radius: 0.5rem;

  background-color: #252525;
  color: inherit;

  width: 5.5rem;
  height: 3rem;

  font-size: 1rem;

  border: none;
}

.view-all-btn:hover {
  border: 1px solid rgb(86, 86, 86);
  cursor: pointer;
}

.latest-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.single-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  text-decoration: none;
  color: inherit;
  border-bottom: 0.01px solid rgb(66, 66, 66);
}

.single-post .right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-side .date {
  min-width: 8rem;
}
/* 
.single-post:hover {
  text-decoration: underline;
} */

.right-side img {
  width: 2.5rem;
  border-radius: 50%;

  justify-content: center;
}

.single-post h3 {
  margin: 0;
  /* padding-bottom: 0.5rem; */
  font-weight: 500;
  font-size: inherit;

  /* max-width: 15rem; */
}

.single-post:hover h3 {
  text-decoration: underline;
}

.date {
  margin: 0;

  font-size: 1rem;
  color: #5eddac;
  font-family: Menlo, 'IBM Plex Mono', Menlo, monospace;
  display: none;
  text-align: right;
}

@media (min-width: 700px) {
  /* ------------------------------------------- */
  /* ------------------------------------------- */
  /* ------------------------------------------- */
  /* ABOUT ME SECTION */
  .container {
    margin-top: 4rem;
  }

  .about-me {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    width: 100%;

    align-items: center;
  }

  .about-me-short h1 {
    font-size: 3rem;
  }

  .about-me img {
    width: 40%;
    height: 100%;
  }

  /* ------------------------------------ */
  /* ------------------------------------ */
  /* ------------------------------------ */
  /* LATEST POSTS SECTION */
  .date {
    display: block;
    min-width: 5rem;
  }
}
