:root {
  --home-color: red;
  --about-color: yellow;
  --it-journal-color: green;
  --projects-color: blue;
  --articles-color: magenta;
  --border-slightly-grey: #353535;
  --background-slightly-grey: #212121;
  --date-font: Menlo, 'IBM Plex Mono', Menlo, monospace;
}

.nav-item.it-journal a {
  border-bottom: 3px solid var(--it-journal-color);
  color: white;
}

.all-journals {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.journal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.journal {
  border: 1px solid var(--border-slightly-grey);
  background-color: var(--background-slightly-grey);
  border-radius: 1rem;

  min-height: 70vh;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;

  padding: 1.5rem 1rem;
}

.journal-date {
  font-size: 0.9rem;
  font-family: var(--date-font);
  color: grey;
}

.fading-text {
  overflow: hidden;
  position: relative;

  height: 70vh;
}

.fading-text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%; /* Adjust this value to control the height of the fading effect */
  background-image: linear-gradient(
    to top,
    rgba(33, 33, 33, 1),
    rgba(33, 33, 33, 0.1)
  );
  pointer-events: none; /* Prevents the pseudo-element from blocking any interactions with the text */
}

.journal-title h1 {
  font-size: 2rem;
  margin: 0;
}

a {
  color: rgb(97, 0, 97);
}

a:hover {
  text-decoration: none;
}

.journal-content h2 {
  font-size: 1rem;
  margin: 0;
}

.journal-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

article {
  position: relative;
  padding-top: 1rem;
}

article::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 5rem;
  transform: translateX(-50%);
  color: white;
  border-top: 1px solid white;
}

/* ----------------------------------------- */
/* ----------------------------------------- */
/* ----------------------------------------- */
/* IT JOURNAL SECTION TILES (FOR EXAMPLE INSIDE my-website journal) */
/* PROPERTIES FOR SINGLE JOURNAL */

.single-journal-title {
  text-decoration: none;
  pointer-events: none;

  text-align: center;
}

.single-journal-title h1 {
  font-size: 1.5rem;
}

.journal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  /* Instead of using gap property, I use flex-grow so that divs inside a one big div are distributed with exact amount of gap */
  flex-grow: 1;
}

.journal-tile {
  background-color: rgb(41, 41, 41);
  border: 1px solid var(--border-slightly-grey);
  border-radius: 5px;

  padding: 0.5rem 1rem;
}

.tile-section {
  margin-bottom: 0.5rem;
}

.journal-tile p {
  margin-top: 0.1rem;
}

.journal-tile h3:hover {
  text-decoration: none;
}

.section-content {
  margin-top: 0;
  font-size: 1rem;
}
