/* Globally accessible variables */
:root {
  --gray-10: #181818;
}

body {
  background-color: var(--gray-10);
  color: white;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;

  margin: 0;
  padding: 0 1rem;
}

@media (min-width: 700px) {
  body {
    font-size: 1.1rem;

    padding: 4rem 2rem;
  }
}
