:root {
  --border-slightly-grey: #353535;
  --background-slightly-grey: #212121;

  --border-slightly-grey-light-theme: #a3a3a3;
}

button {
  border-radius: 10%;
  border: 1px solid var(--border-slightly-grey);
  background-color: var(--background-slightly-grey);
}

button:hover {
  border: 1px solid rgb(86, 86, 86);
  cursor: pointer;
}

.light-theme button {
  border: 1px solid var(--border-slightly-grey-light-theme);
}

.light-theme button:hover {
  border: 1px solid rgb(88, 88, 88);
}

.view-all-btn {
  padding: 0.7rem 1rem;

  font-size: 0.9rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.project-button {
  font-size: inherit;
  padding: 0.5rem;
  background-color: #2c2c2c;

  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.light-theme .project-button {
  background-color: var(--background-slightly-grey);
}

.light-theme .project-button img {
  background-color: black;
}

.project-button img {
  height: 1.5rem;
}

.project-button a {
  text-decoration: none;
}

.show-more {
  width: 7rem;
  height: 3rem;

  position: absolute;
  bottom: 0;
  left: 50%;
  /* Moves the button left by 50% of its own width and down by 50% of its own height, effectively centering it at the bottom edge of the container */
  transform: translate(-50%, 50%);
  z-index: 1;
}
