/* Globally accessible variables */
:root {
  --home-color: red;
  --about-color: yellow;
  --it-journal-color: green;
  --projects-color: blue;
  --articles-color: magenta;
}

html {
  scroll-padding-top: 4rem;
}

.layout {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid white; */
  height: 4rem;
  align-items: center;

  position: fixed;

  width: calc(100% - 2rem);

  font-size: 1rem;

  background-color: var(--gray-10);
  z-index: 1;
}

.navigation::after {
  content: '';
  position: absolute;
  /* -1 because it offsets the body padding (from the main.css file) */
  left: -1rem;
  right: -1rem;
  bottom: 0;
  border-bottom: 0.01px solid rgb(59, 59, 59);
}

.website-author {
  display: none;
}

nav {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;

  color: gray;
}

.nav-item {
  /* min-width: 3.2rem; */
}

.nav-item:hover {
  color: white;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.nav-item a {
  padding-bottom: 0.3rem;
}

.nav-item.home a:hover {
  border-bottom: 3px solid var(--home-color);
}

.nav-item.about a:hover {
  border-bottom: 3px solid var(--about-color);
}

.nav-item.it-journal a:hover {
  border-bottom: 3px solid var(--it-journal-color);
}

.nav-item.projects a:hover {
  border-bottom: 3px solid var(--projects-color);
}

.nav-item.articles a:hover {
  border-bottom: 3px solid var(--articles-color);
}

.light-toggle {
  background-color: rgb(45, 45, 45);

  padding: 0.1rem 0.2rem;
  border-radius: 20%;
}

@media (min-width: 700px) {
  html {
    scroll-padding-top: 4.5rem;
  }

  .left-side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
  }

  .website-author {
    display: inline;
  }

  .website-author a {
    font-size: 1.7rem;
    font-weight: bold;

    text-decoration: none;
    color: inherit;
  }

  .nav-item.home {
    display: none;
  }

  .navigation {
    height: 4.5rem;

    font-size: 1.1rem;

    position: relative;
  }

  nav {
    gap: 2rem;
  }

  .navigation::after {
    display: none;
  }

  .light-toggle {
    padding: 0.3rem 0.5rem;
  }
}
