.container-header h1 {
  line-height: 1;
  margin-bottom: 0;
}

.article-content h2 {
  margin-top: 3rem;
  font-weight: 600;
}

.article-content h4 {
  margin-bottom: 0;
}

.article-content p {
  font-size: 1rem;
}

img {
  width: 70%;
}

pre {
  display: inline;
  margin-left: 0;
}

@media (min-width: 700px) {
  .article-content {
    max-width: 700px;
  }

  .article-content h2 {
    font-size: 1.8rem;
  }

  .article-content p {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}
